* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #787878;
}

h1 {
  font-size: 50px;
  line-height: 50px;
}

input {
  outline: none;
}

.root {
  width: 100%;
  height: 100vh;
  background-color: #1b2473;

  display: flex;
  justify-content: center;
}

.form__wrapper {
  margin-top: 82px;
  width: 600px;
  height: 450px;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;

  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form__input {
  display: flex;
  flex-direction: column;
}

#emailMargin {
  margin-top: 24px;
}

.form__input label {
  padding-left: 8px;
  padding-bottom: 3px;
}

.form__input input {
  width: 510px;
  height: 49px;
  padding: 7px 15px;

  border-radius: 10px;
  border: 2px solid #787878;
  font-size: 28px;
}

.form__input input::placeholder {
  color: #cccccc;
}

#passwordMargin {
  margin-top: 24px;
}

.form__checkbox {

}

.form__checkbox > div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__checkbox input {
  width: 24px;
  height: 24px;
}

.form__checkbox label {
  font-weight: 400;
  font-size: 14px;
}

button {
  width: 180px;
  height: 52px;

  background-color: #1a226b;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;

  border: none;
}

.warning {
  animation-name: warningAnim;
  animation-duration: 2s;
}

.error {
  margin-left: 8px;
  color: red;
}

.hidden {
  display: none;
}

#checkbox {
  display: none;
}

#checkbox + label {
  display: block;
  width: 24px;
  height: 24px;
  background: transparent;
  border: 2px solid #787878;
  border-radius: 7px;
  text-align: center;
}

#checkbox:checked + label {
  background: rgb(65, 84, 255);
  border-color: rgb(65, 84, 255);
}

#checkbox:checked + label:before {
  content: "✔";
  font-size: 17px;
  color: white;
}

@keyframes warningAnim {
  0% {
    border-color: #787878;
  }
  10% {
    border-color: red;
  }
  20% {
    border-color: #787878;
  }
  30% {
    border-color: red;
  }
  40% {
    border-color: #787878;
  }
  50% {
    border-color: red;
  }
  60% {
    border-color: #787878;
  }
  70% {
    border-color: red;
  }
  80% {
    border-color: #787878;
  }
  90% {
    border-color: red;
  }
  100% {
    border-color: #787878;
  }
}
